<div id = "wrapper">
  <div id = "header"><%= render "layouts/common_header" %></div>
  <div class="clear"></div>
  <div id="inner-wrapper">
    <div id="sales-heading">Create New Bill Book Series</div>
  <% if flash[:notice] %>
      <div id="error">
        <%= flash[:notice] %>
      </div>
    <% else %>
      <div id="without-error">
        <%= flash[:notice] %>
      </div>
    <% end %>
<div class="clear"></div>
    <%= form_for :bill_book_series, :url => sales_bill_book_series_create_path, :html => { :onsubmit => "return check_bill_book_series_field()"}  do |f|%>
      <div class="sales-fields">
      <div class="sales-lables">Bill Book Series Name </div>
      <div class="sales-boxes"><%= f.text_field  :name, :class => "selectboxLength" %></div>
      </div>
      <div class="clear"></div>
      <div id="sales-button">
        <%= f.submit %>
      </div>
    <% end %>
      </div>
  <div class="clear"></div>
  <div class="bottom_padding"></div>
</div>
<div class="clear"></div>
<div id = "header" align="center"><%= render "layouts/footer" %></div>
