<html style="background :white;">
<body style="background :white">
<div id = "print-wrapper">
  <div style="font-size :18px; text-align :center; font-weight :bold;">H<sub>2</sub>O Solutions</div>
  <div style="padding-bottom :10px;"></div>
  <div class="clear"></div>
  <div style="text-align :center; font-size :16px; font-weight :bold;">Installment Receipt</div>
  <div style="padding-bottom :10px;"></div>
  <div class="clear"></div>

  <div id="print-table-wrapper">
    <table style="text-align :left;" width="495px" cellspacing="5px">
      <tr>
        <th width="230px" style="padding-left :40px;">Customer Name</th>
        <td><%= @customer_name %></td>
      </tr>
      <tr>
        <th width="230px" style="padding-left :40px;">Address</th>
        <td><%= @address %></td>
      </tr>
      <tr>
        <th width="230px" style="padding-left :40px;">Contact Number</th>
        <td><%= @contact_numbers %></td>
      </tr>
      <tr>
        <th width="230px" style="padding-left :40px;">Payment Date(dd/mm/yyyy)</th>
        <td><%= @pay_date %></td>
      </tr>
      <tr>
          <th width="230px" style="padding-left :40px;">Amount Paid</th>
          <td><%= @total_paid_amount %></td>
      </tr>

<tr>
          <th width="230px" style="padding-left :40px;">Cash Amount </th>
          <td><%= @cash_amount %></td>
      </tr>
<tr>
          <th width="230px" style="padding-left :40px;">Cheque Amount </th>
          <td><%= @cheque_amount %></td>
      </tr>
<tr>
          <th width="230px" style="padding-left :40px;">Transfer Amount </th>
          <td><%= @transfer_amount %></td>
      </tr>
<tr>
          <th width="230px" style="padding-left :40px;">Card Paid Amount</th>
          <td><%= @card_paid_amount %></td>
      </tr>

      <tr>
          <th width="230px" style="padding-left :40px;">Next Payment Date(dd/mm/yyyy)</th>
          <td><%= @next_pay_date %></td>
      </tr>
    </table>
  </div>
  <div class="clear"></div>
</div>
<script type="text/javascript">
  window.onload = window.print();
</script>