<% counter = 1 %>
<div class="bottom_padding"></div>
<div id="paginated-link">
  <% if total_pages > 1 %>
    <% unless current_page == 1 %>
      <%=  link_to "<<First ", "javascript:void(0);", :onclick => "#{function_name}(1)" %>
      <%= link_to("<Previous ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page - 1})") %>
    <% end %>
    <% if total_pages > 5 %>
      <% if current_page == 1 %>
        <%= current_page %>
        <%= link_to " #{current_page + 1} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page + 1})" %>
        <%= link_to " #{current_page + 2} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page + 2})" %>
        <%= link_to " #{current_page + 3} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page + 3})" %>
        <%= link_to " #{current_page + 4} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page + 4})" %>
        ...
      <% elsif current_page == 2 %>
        <%= link_to " #{current_page - 1} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page - 1})" %>
        <%= current_page %>
        <%= link_to " #{current_page + 1} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page + 1})" %>
        <%= link_to " #{current_page + 2} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page + 2})" %>
        <%= link_to " #{current_page + 3} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page + 3})" %>
        ...
      <% elsif current_page == total_pages %>
        ...
        <%= link_to " #{current_page - 4} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page - 4})" %>
        <%= link_to " #{current_page - 3} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page - 3})" %>
        <%= link_to " #{current_page - 2} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page - 2})" %>
        <%= link_to " #{current_page - 1} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page - 1})" %>
        <%= current_page %>
      <% elsif current_page == total_pages - 1 %>
        ...
        <%= link_to " #{current_page - 3} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page - 3})" %>
        <%= link_to " #{current_page - 2} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page - 2})" %>
        <%= link_to " #{current_page - 1} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page - 1})" %>
        <%= current_page %>
        <%= link_to " #{current_page + 1} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page + 1})" %>
      <% else %>
        <% unless current_page - 2 == 1 %>
          ...
        <% end %>
        <%= link_to " #{current_page - 2} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page - 2})" %>
        <%= link_to " #{current_page - 1} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page - 1})" %>
        <%= current_page %>
        <%= link_to " #{current_page + 1} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page + 1})" %>
        <%= link_to " #{current_page + 2} ", "javascript:void(0);", :onclick => "#{function_name}(#{current_page + 2})" %>
        <% unless current_page + 2 == total_pages %>
          ...
        <% end %>
      <% end %>
    <% else %>
      <% while counter <= total_pages %>
        <%= current_page == counter ? current_page : (link_to " #{counter} ", "javascript:void(0);", :onclick => "#{function_name}(#{counter})") %>
        <% counter = counter + 1 %>
      <% end %>
    <% end %>
    <% unless total_pages == current_page %>
      <%= link_to " Next>", "javascript:void(0);" ,:onclick => "#{function_name}(#{current_page + 1})" %>
      <%= link_to " Last>>", "javascript:void(0);" ,:onclick => "#{function_name}(#{total_pages})" %>
    <% end %>
  <% end %>
</div>